body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d35400;
    font-size: 2.5rem;
    text-transform: capitalize;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Center image using margin if needed */
    margin: 20px auto;
}

p, li {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ecf0f1;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

ul li:nth-child(odd) {
    background-color: #bdc3c7;
}

label {
    font-weight: bold;
}